#ðŸ“Œ ExtracciÃ³n

In [23]:
import requests #para importar desde una API
import pandas as pd


url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
response = requests.get(url)
data = response.json()

datos = pd.DataFrame(data)

datos.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [24]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

##NormalizaciÃ³n archivo JSON

In [25]:
from pandas import json_normalize

datos = json_normalize(data, sep='_')
datos.head(25)

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
5,0013-MHZWF,No,Female,0,No,Yes,9,Yes,No,DSL,...,No,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45
6,0013-SMEOE,No,Female,1,Yes,No,71,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.70,7904.25
7,0014-BMAQU,No,Male,0,Yes,No,63,Yes,Yes,Fiber optic,...,No,No,Yes,No,No,Two year,Yes,Credit card (automatic),84.65,5377.8
8,0015-UOCOJ,No,Female,1,No,No,7,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,48.20,340.35
9,0016-QLJIS,No,Female,0,Yes,Yes,65,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Mailed check,90.45,5957.9
10,0017-DINOC,No,Male,0,No,No,54,No,No phone service,DSL,...,No,No,Yes,Yes,No,Two year,No,Credit card (automatic),45.20,2460.55
11,0017-IUDMW,No,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),116.80,8456.75
12,0018-NYROU,No,Female,0,Yes,No,5,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,68.95,351.5
13,0019-EFAEP,No,Female,0,No,No,72,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,No,Two year,Yes,Bank transfer (automatic),101.30,7261.25
14,0019-GFNTW,No,Female,0,No,No,56,No,No phone service,DSL,...,Yes,Yes,Yes,No,No,Two year,No,Bank transfer (automatic),45.05,2560.1
15,0020-INWCK,No,Female,0,Yes,Yes,71,Yes,Yes,Fiber optic,...,Yes,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),95.75,6849.4
16,0020-JDNXP,No,Female,0,Yes,Yes,34,No,No phone service,DSL,...,No,Yes,Yes,Yes,Yes,One year,No,Mailed check,61.25,1993.2
17,0021-IKXGC,No,Female,1,No,No,1,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,72.10,72.1
18,0022-TCJCI,Yes,Male,1,No,No,45,Yes,No,DSL,...,No,Yes,No,No,Yes,One year,No,Credit card (automatic),62.70,2791.5
19,0023-HGHWL,Yes,Male,1,No,No,1,No,No phone service,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,25.10,25.1
20,0023-UYUPN,No,Female,1,Yes,No,50,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Electronic check,25.20,1306.3
21,0023-XUOPT,Yes,Female,0,Yes,No,13,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,No,Month-to-month,No,Electronic check,94.10,1215.6
22,0027-KWYKW,No,Female,0,Yes,Yes,23,Yes,Yes,Fiber optic,...,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,83.75,1849.95
23,0030-FNXPP,No,Female,0,No,No,3,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,19.85,57.2
24,0031-PVLZI,Yes,Female,0,Yes,Yes,4,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.35,76.35

In [26]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer_gender            7267 non-null   object
 3   customer_SeniorCitizen     7267 non-null   int64
 4   customer_Partner           7267 non-null   object
 5   customer_Dependents        7267 non-null   object
 6   customer_tenure            7267 non-null   int64
 7   phone_PhoneService         7267 non-null   object
 8   phone_MultipleLines        7267 non-null   object
 9   internet_InternetService   7267 non-null   object
 10  internet_OnlineSecurity    7267 non-null   object
 11  internet_OnlineBackup      7267 non-null   object
 12  internet_DeviceProtection  7267 non-null   object
 13  internet_TechSupport       7267 non-null   object
 14  internet_StreamingTV       7267 non-null   object
 15  internet_StreamingMovies   7267 non-null   object
 16  account_Contract           7267 non-null   object
 17  account_PaperlessBilling   7267 non-null   object
 18  account_PaymentMethod      7267 non-null   object
 19  account_Charges_Monthly    7267 non-null   float64
 20  account_Charges_Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

##Diccionario de datos

Diccionario de datos
* customerID: nÃºmero de identificaciÃ³n Ãºnico de cada cliente
* Churn: si el cliente dejÃ³ o no la empresa
* gender: gÃ©nero (masculino y femenino)
* SeniorCitizen: informaciÃ³n sobre si un cliente tiene o no una edad igual o mayor a 65 aÃ±os
* Partner: si el cliente tiene o no una pareja
* Dependents: si el cliente tiene o no dependientes
* tenure: meses de contrato del cliente
* PhoneService: suscripciÃ³n al servicio telefÃ³nico
* MultipleLines: suscripciÃ³n a mÃ¡s de una lÃ­nea telefÃ³nica
* InternetService: suscripciÃ³n a un proveedor de internet
* OnlineSecurity: suscripciÃ³n adicional de seguridad en lÃ­nea
* OnlineBackup: suscripciÃ³n adicional de respaldo en lÃ­nea
* DeviceProtection: suscripciÃ³n adicional de protecciÃ³n del dispositivo
* TechSupport: suscripciÃ³n adicional de soporte tÃ©cnico, menor tiempo de espera
* StreamingTV: suscripciÃ³n de televisiÃ³n por cable
* StreamingMovies: suscripciÃ³n de streaming de pelÃ­culas
* Contract: tipo de contrato
* PaperlessBilling: si el cliente prefiere recibir la factura en lÃ­nea
* PaymentMethod: forma de pago
* Charges.Monthly: total de todos los servicios del cliente por mes
* Charges.Total: total gastado por el cliente

#ðŸ”§ TransformaciÃ³n

Check de Acciones a hacer para transformar datos:
* Duplicados
* Valores vacÃ­os (tipo object)
* Valores nulos (tipo Nan)
* Tipos de datos
* Valores atÃ­picos
* Consistencia y validez de datos categÃ³ricos
* NormalizaciÃ³n de textos

In [27]:
#verificamos si hay valores Ãºnicos en cada columna
for col in datos.columns:
  print(f"Valores Ãºnicos en la columna'{col}': {datos[col].nunique()}")
  print(datos[col].unique())
  print('-'*60)

Valores Ãºnicos en la columna'customerID': 7267
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
------------------------------------------------------------
Valores Ãºnicos en la columna'Churn': 3
['No' 'Yes' '']
------------------------------------------------------------
Valores Ãºnicos en la columna'customer_gender': 2
['Female' 'Male']
------------------------------------------------------------
Valores Ãºnicos en la columna'customer_SeniorCitizen': 2
[0 1]
------------------------------------------------------------
Valores Ãºnicos en la columna'customer_Partner': 2
['Yes' 'No']
------------------------------------------------------------
Valores Ãºnicos en la columna'customer_Dependents': 2
['Yes' 'No']
------------------------------------------------------------
Valores Ãºnicos en la columna'customer_tenure': 73
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
------------------------------------------------------------
Valores Ãºnicos en la columna'phone_PhoneService': 2
['Yes' 'No']
------------------------------------------------------------
Valores Ãºnicos en la columna'phone_MultipleLines': 3
['No' 'Yes' 'No phone service']
------------------------------------------------------------
Valores Ãºnicos en la columna'internet_InternetService': 3
['DSL' 'Fiber optic' 'No']
------------------------------------------------------------
Valores Ãºnicos en la columna'internet_OnlineSecurity': 3
['No' 'Yes' 'No internet service']
------------------------------------------------------------
Valores Ãºnicos en la columna'internet_OnlineBackup': 3
['Yes' 'No' 'No internet service']
------------------------------------------------------------
Valores Ãºnicos en la columna'internet_DeviceProtection': 3
['No' 'Yes' 'No internet service']
------------------------------------------------------------
Valores Ãºnicos en la columna'internet_TechSupport': 3
['Yes' 'No' 'No internet service']
------------------------------------------------------------
Valores Ãºnicos en la columna'internet_StreamingTV': 3
['Yes' 'No' 'No internet service']
------------------------------------------------------------
Valores Ãºnicos en la columna'internet_StreamingMovies': 3
['No' 'Yes' 'No internet service']
------------------------------------------------------------
Valores Ãºnicos en la columna'account_Contract': 3
['One year' 'Month-to-month' 'Two year']
------------------------------------------------------------
Valores Ãºnicos en la columna'account_PaperlessBilling': 2
['Yes' 'No']
------------------------------------------------------------
Valores Ãºnicos en la columna'account_PaymentMethod': 4
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
------------------------------------------------------------
Valores Ãºnicos en la columna'account_Charges_Monthly': 1585
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
------------------------------------------------------------
Valores Ãºnicos en la columna'account_Charges_Total': 6531
['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']
------------------------------------------------------------

In [28]:
#https://drive.google.com/file/d/1qBH-xA8UzeOW7GVZANnF4BXkERkpI6MX/view

In [29]:
#Verificamos si hay duplicados
duplicados = datos.duplicated().sum()
print(f"NÃºmero de registros duplicados: {duplicados}")

NÃºmero de registros duplicados: 0

In [30]:
#Verificamos si hay valores nulos
datos.isnull().sum()

customerID                   0
Churn                        0
customer_gender              0
customer_SeniorCitizen       0
customer_Partner             0
customer_Dependents          0
customer_tenure              0
phone_PhoneService           0
phone_MultipleLines          0
internet_InternetService     0
internet_OnlineSecurity      0
internet_OnlineBackup        0
internet_DeviceProtection    0
internet_TechSupport         0
internet_StreamingTV         0
internet_StreamingMovies     0
account_Contract             0
account_PaperlessBilling     0
account_PaymentMethod        0
account_Charges_Monthly      0
account_Charges_Total        0
dtype: int64

In [31]:
# verificamos datos vacÃ­os
datos.isna().sum()

customerID                   0
Churn                        0
customer_gender              0
customer_SeniorCitizen       0
customer_Partner             0
customer_Dependents          0
customer_tenure              0
phone_PhoneService           0
phone_MultipleLines          0
internet_InternetService     0
internet_OnlineSecurity      0
internet_OnlineBackup        0
internet_DeviceProtection    0
internet_TechSupport         0
internet_StreamingTV         0
internet_StreamingMovies     0
account_Contract             0
account_PaperlessBilling     0
account_PaymentMethod        0
account_Charges_Monthly      0
account_Charges_Total        0
dtype: int64

In [32]:
valores_blanco_vacio = datos.apply(lambda x: x.astype(str).str.strip() == '').sum()
print(valores_blanco_vacio)

customerID                     0
Churn                        224
customer_gender                0
customer_SeniorCitizen         0
customer_Partner               0
customer_Dependents            0
customer_tenure                0
phone_PhoneService             0
phone_MultipleLines            0
internet_InternetService       0
internet_OnlineSecurity        0
internet_OnlineBackup          0
internet_DeviceProtection      0
internet_TechSupport           0
internet_StreamingTV           0
internet_StreamingMovies       0
account_Contract               0
account_PaperlessBilling       0
account_PaymentMethod          0
account_Charges_Monthly        0
account_Charges_Total         11
dtype: int64

In [33]:
print(valores_blanco_vacio[valores_blanco_vacio >0]) #solo imprime la suma de  valores blancos o vacios en las columnas que hay

Churn                    224
account_Charges_Total     11
dtype: int64

In [34]:
#https://drive.google.com/file/d/1IHd6D7bx6GPU7EzHl_rT4Rjro0CVGbFp/view  challenge parte 2

In [35]:
#Como los 224 registros vacios de Churn son sÃ³lo el 3% el total, los eliminarÃ©

datos = datos[datos['Churn'].str.strip() != '']

In [36]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer_gender            7043 non-null   object
 3   customer_SeniorCitizen     7043 non-null   int64
 4   customer_Partner           7043 non-null   object
 5   customer_Dependents        7043 non-null   object
 6   customer_tenure            7043 non-null   int64
 7   phone_PhoneService         7043 non-null   object
 8   phone_MultipleLines        7043 non-null   object
 9   internet_InternetService   7043 non-null   object
 10  internet_OnlineSecurity    7043 non-null   object
 11  internet_OnlineBackup      7043 non-null   object
 12  internet_DeviceProtection  7043 non-null   object
 13  internet_TechSupport       7043 non-null   object
 14  internet_StreamingTV       7043 non-null   object
 15  internet_StreamingMovies   7043 non-null   object
 16  account_Contract           7043 non-null   object
 17  account_PaperlessBilling   7043 non-null   object
 18  account_PaymentMethod      7043 non-null   object
 19  account_Charges_Monthly    7043 non-null   float64
 20  account_Charges_Total      7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [37]:
7267 -224

7043

In [38]:
#vemos cuantos elemetos vacios hay ahora
datos.apply(lambda x: x.astype(str).str.strip() == '').sum()
#sÃ³lo quedan los 11 de la columna Charges_Total

customerID                    0
Churn                         0
customer_gender               0
customer_SeniorCitizen        0
customer_Partner              0
customer_Dependents           0
customer_tenure               0
phone_PhoneService            0
phone_MultipleLines           0
internet_InternetService      0
internet_OnlineSecurity       0
internet_OnlineBackup         0
internet_DeviceProtection     0
internet_TechSupport          0
internet_StreamingTV          0
internet_StreamingMovies      0
account_Contract              0
account_PaperlessBilling      0
account_PaymentMethod         0
account_Charges_Monthly       0
account_Charges_Total        11
dtype: int64

In [39]:
# Los datos vacÃ­os de Charges_Total son 11 y es porque la columna es de tipo object y deberÃ­a ser float
datos['account_Charges_Total'] = pd.to_numeric(datos['account_Charges_Total'], errors='coerce')
datos['account_Charges_Total'].dtype

dtype('float64')

In [40]:
#verificamos si quedan datos vacÃ­os y ya no hay mÃ¡s
datos.apply(lambda x: x.astype(str).str.strip() == '').sum()

customerID                   0
Churn                        0
customer_gender              0
customer_SeniorCitizen       0
customer_Partner             0
customer_Dependents          0
customer_tenure              0
phone_PhoneService           0
phone_MultipleLines          0
internet_InternetService     0
internet_OnlineSecurity      0
internet_OnlineBackup        0
internet_DeviceProtection    0
internet_TechSupport         0
internet_StreamingTV         0
internet_StreamingMovies     0
account_Contract             0
account_PaperlessBilling     0
account_PaymentMethod        0
account_Charges_Monthly      0
account_Charges_Total        0
dtype: int64

In [41]:
datos.sample(10)

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
4654,6372-RFVNS,Yes,Female,0,Yes,No,1,Yes,No,Fiber optic,...,No,No,No,Yes,No,Month-to-month,No,Electronic check,78.80,78.80
5965,8152-UOBNY,No,Female,1,No,No,50,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,Yes,One year,Yes,Electronic check,106.80,5347.95
5773,7883-ROJOC,No,Female,0,Yes,No,19,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,No,Mailed check,44.90,839.65
1839,2616-FLVQC,No,Male,0,No,No,64,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.55,1240.15
138,0225-ZORZP,No,Male,0,No,No,3,Yes,No,Fiber optic,...,Yes,No,No,No,Yes,Month-to-month,No,Electronic check,84.30,235.05
684,0970-ETWGE,Yes,Male,0,No,No,1,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,89.55,89.55
2430,3396-DKDEL,No,Female,0,Yes,Yes,70,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),115.15,8250.00
6927,9544-PYPSJ,No,Female,1,Yes,Yes,62,Yes,Yes,Fiber optic,...,Yes,Yes,No,No,Yes,Month-to-month,Yes,Credit card (automatic),96.10,6019.35
5799,7929-DMBCV,No,Female,0,Yes,No,20,Yes,No,Fiber optic,...,No,Yes,Yes,No,No,Month-to-month,Yes,Mailed check,81.00,1683.70
1910,2696-RZVZW,No,Male,0,Yes,No,68,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),25.05,1629.20

In [42]:
datos.describe()

,customer_SeniorCitizen,customer_tenure,account_Charges_Monthly,account_Charges_Total
count,7043.000000,7043.000000,7043.000000,7032.000000
mean,0.162147,32.371149,64.761692,2283.300441
std,0.368612,24.559481,30.090047,2266.771362
min,0.000000,0.000000,18.250000,18.800000
25%,0.000000,9.000000,35.500000,401.450000
50%,0.000000,29.000000,70.350000,1397.475000
75%,0.000000,55.000000,89.850000,3794.737500
max,1.000000,72.000000,118.750000,8684.800000

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final